<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationUsageDescription</key>
	<string>Catbird needs permission to send you notifications about mentions, replies, and interactions with your posts.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:catbird.blue</string>
	</array>
</dict>
</plist>
